<nav class="navbar navbar-expand-lg navbar-dark navbar_bgcolor">
<a href="/" class="logo">
<%= image_tag( 'kingdom-logo.svg', class: 'logo-image', alt: 'KINGDOM', style:'width:70%') %>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to '', class: 'nav-link openpopup',style:"color:white",id:'whatwedo', remote: true do %>
          What We DO
        <%end%>
      </li>
      <li class="nav-item">
        <%= link_to '', class: 'nav-link openpopup',style:"color:white",id:'technology', remote: true do %>
          Technology
        <%end%>
      </li>
      <li class="nav-item">
        <%= link_to '', class: 'nav-link openpopup',style:"color:white",id:'about_us', remote: true do %>
          About Us
        <%end%>
      </li>
    </ul>
  </div>
</nav>
<script>
  $(document).ready(function(){
    $(".openpopup").on('click', function(){
      $.ajax({
        url: "/open_popup",
        type: 'GET',
        data: {
          id: $(this).attr('id')
        },
        dataType: "script",
      });
    });
  });
</script>