@font-face{
	src: asset-url('Geometria.ttf');
	font-family: 'Geometria';
	font-weight: 400;
	font-style: normal;
}
@font-face{
	src: asset-url('Geometria-Italic.ttf');
	font-family: 'Geometria';
	font-weight: 400;
	font-style: italic;
}
@font-face{
	src: asset-url('Geometria-Light.ttf');
	font-family: 'Geometria';
	font-weight: 300;
	font-style: normal;
}
@font-face{
	src: asset-url('Geometria-LightItalic.ttf');
	font-family: 'Geometria';
	font-weight: 300;
	font-style: italic;
}
@font-face{
	src: asset-url('Geometria-ExtraLight.ttf');
	font-family: 'Geometria';
	font-weight: 200;
	font-style: normal;
}
@font-face{
	src: asset-url('Geometria-ExtraLightItalic.ttf');
	font-family: 'Geometria';
	font-weight: 200;
	font-style: italic;
}
@font-face{
	src: asset-url('Geometria-Thin.ttf');
	font-family: 'Geometria';
	font-weight: 100;
	font-style: normal;
}
@font-face{
	src: asset-url('Geometria-ThinItalic.ttf');
	font-family: 'Geometria';
	font-weight: 100;
	font-style: italic;
}
@font-face{
	src: asset-url('Geometria-Medium.ttf');
	font-family: 'Geometria';
	font-weight: 500;
	font-style: normal;
}
@font-face{
	src: asset-url('Geometria-MediumItalic.ttf');
	font-family: 'Geometria';
	font-weight: 500;
	font-style: italic;
}
@font-face{
	src: asset-url('Geometria-Bold.ttf');
	font-family: 'Geometria';
	font-weight: 600;
	font-style: normal;
}
@font-face{
	src: asset-url('Geometria-BoldItalic.ttf');
	font-family: 'Geometria';
	font-weight: 600;
	font-style: italic;
}
@font-face{
	src: asset-url('Geometria-ExtraBold.ttf');
	font-family: 'Geometria';
	font-weight: 700;
	font-style: normal;
}
@font-face{
	src: asset-url('Geometria-ExtraBoldItalic.ttf');
	font-family: 'Geometria';
	font-weight: 700;
	font-style: italic;
}
@font-face{
	src: asset-url('Geometria-Heavy.ttf');
	font-family: 'Geometria';
	font-weight: 800;
	font-style: normal;
}
@font-face{
	src: asset-url('Geometria-HeavyItalic.ttf');
	font-family: 'Geometria';
	font-weight: 800;
	font-style: italic;
}